aiofiles
aiohappyeyeballs
aiohttp
aioice
aiortc
aiosignal
altair
annotated-types
anthropic
anyio
async-timeout
attrs
av
beautifulsoup4
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
composio
cryptography
dataclasses-json
deepgram-sdk
deprecation
distro
dnspython
docstring-parser
eval-type-backport
exceptiongroup
fastapi
ffmpeg-python
filetype
flatbuffers
frozenlist
future
gitdb
gitpython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-speech
google-cloud-texttospeech
google-crc32c
google-genai
google-generativeai
googleapis-common-protos
greenlet
groq
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httpx
httpx-sse
humanfriendly
hyperframe
idna
ifaddr
jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-openai
langchain-qdrant
langchain-tavily
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-cli[inmem]
langgraph-prebuilt
langgraph-sdk
langgraph-utils
langserve
langsmith
livekit
livekit-agents
livekit-api
livekit-plugins-deepgram
livekit-plugins-google
livekit-plugins-langchain
livekit-plugins-noise-cancellation
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-speechify
livekit-protocol
markupsafe
marshmallow
mpmath
multidict
mypy
mypy-extensions
narwhals
nest-asyncio
numpy
onnxruntime
openai
orjson
ormsgpack
packaging
pandas
passlib[bcrypt]
pathspec
PyPDF2
pillow
pip
portalocker
propcache
proto-plus
protobuf
psutil
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pydantic-settings
pydeck
pydub
pyee
pygame
pyjwt
pylibsrtp
pyopenssl
pyparsing
pypdf
pyreadline3
python-dateutil
python-docx
python-dotenv
python-jose[cryptography]
python-multipart
pytz
pywin32
pyyaml
qdrant-client
rank-bm25
referencing
regex
replicate
requests
requests-toolbelt
rpds-py
rsa
scikit-learn
setuptools
six
smmap
sniffio
sounddevice
sqlalchemy
streamlit
streamlit-webrtc
sympy
tavily-python
tenacity
tiktoken
toml
tomli
tornado
tqdm
types-protobuf
typing-extensions
typing-inspect
typing-inspection
tzdata
uritemplate
urllib3
uvicorn[standard]
watchdog
watchfiles
websockets
wheel
xxhash
yarl
zstandard